<div id="wrapper" class="animate open">
  <nav class="navbar header-top fixed-top navbar-expand-lg navbar-light bgNegro">
      <span class="navbar-toggler-icon leftmenutrigger"></span>
      <a class="navbar-brand">
          <!-- <img class="Img_logo" src="assets/images/logoSolicitudesDigitales1.png" alt=""> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav animate side-nav open">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/solicitar-anticipo" (click)="enviarDatos()">Solicitar anticipo</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mis-solicitudes" (click)="enviarDatos()">Mis solcitudes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mis-pendientes" (click)="enviarDatos()">Mis pendientes <span class="badge badge-pill badge-warning">{{pendientes.length}}</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/consultar-anticipos">Consultar anticipos</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="https://grouprayogas.sharepoint.com/sites/Aplicaciones/SiteAssets/Procesos/index.aspx/home">Regresar a Procesos</a>
              </li> -->
          </ul>
          <!-- <ul class="navbar-nav ml-md-auto d-md-flex">
              <li class="nav-item">
                  <a class="nav-link colorLetra">Bienvenido {{nombreUsuario}}</a>
              </li>
          </ul> -->
      </div>
  </nav>
  <div class="container-fluid tipografia espacio">
      <router-outlet></router-outlet>
      <div class="footer"></div>
  </div>
</div>

<ngx-spinner></ngx-spinner>