<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Información general
        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div class="row" *ngFor="let item of pendienteArr">
            <div class="col">
                <ul>
                    <li>Título: <b>{{item.Title}}</b></li>
                    <hr>
                    <li>Consecutivo: <b>{{item.Consecutivo}}</b></li>
                    <hr>
                    <li>Solicitante: <b>{{item.Solicitante.Title}}</b></li>
                    <hr>
                    <li>Empresa: <b>{{item.Empresa}}</b></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Tipo de solicitud: <b>{{item.TipoSolicitud}}</b></li>
                    <hr>
                    <li>Reembolsable: <b>{{item.Reembolsable == true ? 'Sí' : 'No'}}</b></li>
                    <hr>
                    <li>Cliente: <b>{{item.Cliente}}</b></li>
                    <hr>
                    <li>Job: <b>{{item.Job}}</b></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Fecha de Solicitud: <b>{{item.Created | date: 'dd/MM/yyyy'}}</b></li>
                    <hr>
                    <li>Fecha de aprobación: <b>{{item.FechaAprobacion | date: 'dd/MM/yyyy'}}</b></li>
                    <hr>
                    <li>Fecha de finalización: <b>{{item.FechaFinalizacion | date: 'dd/MM/yyyy'}}</b></li>
                    <hr>
                </ul>
            </div>
            <hr>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Unidades de negocio
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-table [dataSource]="detalleUnidades">
            <ng-container matColumnDef="Director">
                <mat-header-cell *matHeaderCellDef> Director </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Director"> {{element.Director.Title}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="Ceco">
                <mat-header-cell *matHeaderCellDef> Ceco </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Ceco"> {{element.Ceco}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="Porcentaje">
                <mat-header-cell *matHeaderCellDef> Porcentaje </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Porcentaje"> {{element.Porcentaje}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedUnidades"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedUnidades;"></mat-row>

        </mat-table>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Detalle de anticipo
        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <mat-table [dataSource]="detalleAnticipo">

            <ng-container matColumnDef="TipoGasto">
              <mat-header-cell *matHeaderCellDef> Tipo de gasto </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="TipoGasto"> {{element.tipoGasto}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="Descripcion">
              <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Descripcion"> {{element.descripcion}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="Cantidad">
              <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Cantidad"> {{element.cantidad}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Moneda">
                <mat-header-cell *matHeaderCellDef> Moneda </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Moneda"> {{element.moneda}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ValorUnitario">
                <mat-header-cell *matHeaderCellDef> Valor unitario </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="ValorUnitario"> {{element.valorUnitario | currency}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ValorTotal">
                <mat-header-cell *matHeaderCellDef> Valor total </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="ValorTotal"> {{element.valorTotal | currency}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <br>
        <hr>
        <div class="row">
            <div class="col">
                <mat-lablel>Total Pesos</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="totalPesos" currencyMask readonly class="total">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-lablel>Total Dólares</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput  [(ngModel)]="totalDolares" currencyMask readonly
                        class="total">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-lablel>Total Euros</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="totalEuros" currencyMask readonly class="total">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Aprobar
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-table [dataSource]="dataAprobadores">

            <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Nombre" style="white-space: normal; word-wrap: break-word;">
                    <span><b>{{element.Director.Title}}</b></span><br>
                    <span>{{element.fecha}}</span>
                </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="Firma">
              <mat-header-cell *matHeaderCellDef> Firma </mat-header-cell>>
              <mat-cell *matCellDef="let element" data-label="Firma">
                   <img src="{{element.Director.Firma}}" alt="" id="firma" style="width: 200px;">
              </mat-cell>>
            </ng-container>

            <ng-container matColumnDef="Rol">
                <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>>
                <mat-cell *matCellDef="let element" data-label="Rol">{{element.rol}}</mat-cell>>
              </ng-container>

            <mat-header-row *matHeaderRowDef="columnsAprobadores"></mat-header-row>>
            <mat-row *matRowDef="let row; columns: columnsAprobadores;"></mat-row>>
        </mat-table>
       
          <div class="row" *ngIf="!ocultarBtn && mostrarBtn">
              <div class="col-6 offset-3">
                  <button type="button" class="btn btn-success btn-block" (click)="Aprobar()" [disabled]="ocultarBtn">Aprobar</button>
              </div>
          </div>
          <div class="row" *ngIf="ocultarBtn && mostrarBtn">
              <div class="col-6">
                  <button type="button" class="btn btn-success btn-block" (click)="ActualizarSolicitud()">Enviar</button>
              </div>
              <div class="col-6">
                  <button type="button" class="btn btn-danger btn-block" (click)="cancelar()">Cancelar</button>
              </div>
          </div>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card" *ngIf="detalleCierre">
    <mat-card-header>
        <mat-card-title>
            Detalle cierre de solicitud
        </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Entidad" [(ngModel)]="Entidad" readonly>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Número de transacción" [(ngModel)]="numeroTransaccion" readonly>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Solicitante" [(ngModel)]="solicitante" readonly>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Fecha de entrega</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaEntrega" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <textarea matInput rows="1" placeholder="Comentarios" [(ngModel)]="Comentarios" readonly></textarea>
                </mat-form-field>
            </div>
            <div class="col">
                <a href="{{urlSoporte}}" target="_blank"><button type="button" class="btn btn-default">Ver soporte</button></a>
            </div>
        </div>
    </mat-card-content>
</mat-card>
