<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Advertencia!
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <img src="../../assets/images/warningIcon.png" alt="">
            </div>
        </div>
        <h3>Ustede acumula 2 solicitudes sin legalizar</h3>
        <h5>Debe legalizar por lo menos una antes de poder hacer una nueva solicitud</h5>
    </mat-card-content>
</mat-card>
