<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Mis pendientes
        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <mat-table [dataSource]="pendientesJson">

            <ng-container matColumnDef="Titulo">
              <mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Titulo"> {{element.Title}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="Descripcion">
              <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Descripcion"> {{element.Descripcion}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="Solicitante">
              <mat-header-cell *matHeaderCellDef> Solicitante </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Solicitante"> {{element.Solicitante.Title}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Empresa">
                <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Empresa"> {{element.Empresa}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Estado"> {{element.Estado}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Acciones">
                    <button type="button" class="btn btn-primary" (click)="Navegar(element)">Ver solicitud</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>
