<form [formGroup]="form">
    <div class="container">
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>
                    Datos de solicitud
                </mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Empresa" formControlName="Empresa" (selectionChange)="AsignarConsecutivo($event.value.RazonSocial)">
                                <mat-option *ngFor="let empresa of Empresas" [value]="empresa">
                                    {{empresa.RazonSocial}}
                                </mat-option>
                            </mat-select>
                            <!-- <input matInput placeholder="Empresa" formControlName="Empresa"> -->
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Fecha de solicitud" formControlName="Fecha" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Consecutivo" formControlName="Consecutivo" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Título" formControlName="Titulo">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="Descripción" formControlName="Descripcion"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Fecha de finalización</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechaFinalizacion">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <span *ngIf="form.controls.fechaFinalizacion.value && form.controls.fechaFinalizacion.value !== ' '" style="color: red" class="alerta">
                            Se deben legalizar los gastos de anticipos máximo 5 días hábiles después de esta fecha
                        </span>
                    </div>
                </div>
                <div class=" row">
                    <div class="col" style="padding-top: 15px;">
                        <mat-radio-group aria-label="Select an option" formControlName="TipoSolicitud">
                            <mat-radio-button value="Anticipo">Anticipo</mat-radio-button>
                            <mat-radio-button value="Reembolso" style="margin-left: 8px;">Reembolso</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label" id="reembolsable">Reembolsable</label>
                    <div class="col" id="radio">
                        <mat-radio-group aria-label="Select an option" formControlName="Reembolsable" (change)="mostrarCliente($event.value)">
                            <mat-radio-button value="true" style="margin-right: 14px;">SI</mat-radio-button>
                            <mat-radio-button value="false">NO</mat-radio-button>
                        </mat-radio-group>
                        <mat-error>
                            <span *ngIf="!form.get('Reembolsable').valid && form.get('Reembolsable').touched"><small class="form-text">Este campo debe estar diligenciado</small></span>
                        </mat-error>
                    </div>
                    <div class="col" *ngIf="mostrarCampos">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Cliente" formControlName="Cliente" (selectionChange)="filtrarNroJob($event.value)">
                                <mat-option *ngFor="let cliente of clientes" [value]="cliente.Cliente.NombreCliente">
                                    {{cliente.Cliente.NombreCliente}}
                                </mat-option>
                            </mat-select>
                            <!-- <input matInput placeholder="Cliente" formControlName="Cliente"> -->
                        </mat-form-field>
                    </div>
                    <div class="col" *ngIf="mostrarCampos">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Job" formControlName="Job">
                                <mat-option *ngFor="let nro of nroJob" [value]="nro.NumeroJob">
                                    {{nro.NumeroJob}}
                                </mat-option>
                            </mat-select>
                            <!-- <input matInput placeholder="Job" formControlName="Job"> -->
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>
                    Aprobadores
                </mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Director unidad de negocios" formControlName="Director" (selectionChange)="habilitarBtnParticipacion()">
                                <mat-option *ngFor="let aprobador of Aprobadores" [value]="aprobador">
                                    <b>{{aprobador.Director.Title}}</b> - {{aprobador.Title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput type="number" placeholder="Porcentaje" formControlName="Porcentaje">
                        </mat-form-field>
                    </div>
                    <!-- <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput type="number" placeholder="CECO" formControlName="Ceco">
                        </mat-form-field>
                    </div> -->
                    <div class="col">
                        <button type="button" class="btn btn-primary" (click)="AgregarParticipacion()" [disabled]="!habilitarBtn">Agregar</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="shipping-card" *ngIf="participacion.data.length > 0">
            <mat-card-content>
                <table mat-table [dataSource]="participacion">

                    <ng-container matColumnDef="Director">
                      <th mat-header-cell *matHeaderCellDef> Director </th>
                      <td mat-cell *matCellDef="let element"> {{element.Director.Title}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Ceco">
                      <th mat-header-cell *matHeaderCellDef> Ceco </th>
                      <td mat-cell *matCellDef="let element"> {{element.Ceco}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Unidad">
                        <th mat-header-cell *matHeaderCellDef> Unidad de negocio </th>
                        <td mat-cell *matCellDef="let element"> {{element.UnidadNegocio}} </td>
                      </ng-container>
                  
                    <ng-container matColumnDef="Porcentaje">
                      <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
                      <td mat-cell *matCellDef="let element"> {{element.Porcentaje}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element, index as i">
                            <button type="button" class="btn btn-danger" (click)="EliminarAprobador(i)">Eliminar</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
            </mat-card-content>
        </mat-card>
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>
                    Detalle de anticipo
                </mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Tipo de gasto" formControlName="tipoGasto">
                                <mat-option *ngFor="let tipo of tipoGasto" [value]="tipo.Title">
                                    {{tipo.Title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width"> 
                            <textarea matInput placeholder="Descripción" formControlName="DescripcionAnticipo"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput type="number" (change)="controlarCantidad()" placeholder="cantidad" formControlName="Cantidad">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Moneda" formControlName="Moneda">
                                <mat-option value="Peso">
                                   Peso
                                </mat-option>
                                <mat-option value="Dolar">
                                   Dólar
                                </mat-option>
                                <mat-option value="Euro">
                                   Euro
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Valor unitario" formControlName="ValorUnitario" currencyMask> 
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-4">
                        <button type="button" class="btn btn-primary btn-block" (click)="AgregarDetalle()">Agregar detalle</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="shipping-card">
            <mat-card-content>
                <table mat-table [dataSource]="detalleAnticipo">

                    <ng-container matColumnDef="Tipo">
                      <th mat-header-cell *matHeaderCellDef> Tipo de gasto </th>
                      <td mat-cell *matCellDef="let element"> {{element.tipoGasto}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Descripcion">
                      <th mat-header-cell *matHeaderCellDef> Descripción </th>
                      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Cantidad">
                      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Moneda">
                        <th mat-header-cell *matHeaderCellDef> Moneda </th>
                        <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ValorUnitario">
                        <th mat-header-cell *matHeaderCellDef> Valor unitario </th>
                        <td mat-cell *matCellDef="let element"> {{element.valorUnitario}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ValorTotal">
                        <th mat-header-cell *matHeaderCellDef> Valor total </th>
                        <td mat-cell *matCellDef="let element"> {{element.valorTotal}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element, index as i">
                            <button type="button" class="btn btn-danger" (click)="EliminarDetalle(i)">Eliminar</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsDetalle"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsDetalle;"></tr>
                  </table>
                  <br>
                  <hr>
                  <div class="row">
                      <div class="col">
                        <mat-lablel>Total Pesos</mat-lablel>
                          <mat-form-field class="full-width">
                              <input matInput formControlName="totalPesos" currencyMask readonly class="total"> 
                          </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-lablel>Total Dólares</mat-lablel>
                        <mat-form-field class="full-width">
                            <input matInput formControlName="totalDolares" currencyMask readonly class="total"> 
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-lablel>Total Euros</mat-lablel>
                        <mat-form-field class="full-width">
                            <input matInput  formControlName="totalEuros" currencyMask readonly class="total"> 
                        </mat-form-field>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-4 offset-4">
                          <button type="button" class="btn btn-success btn-block" (click)="GuardarAnticipo()">Guardar anticipo</button>
                      </div>
                  </div>
            </mat-card-content>
        </mat-card>
    </div>
</form>