<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Información general
        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div class="row" *ngFor="let item of pendienteArr">
            <div class="col">
                <ul>
                    <li>Título: <b>{{item.Title}}</b></li>
                    <hr>
                    <li>Consecutivo: <b>{{item.Consecutivo}}</b></li>
                    <hr>
                    <li>Solicitante: <b>{{item.Solicitante.Title}}</b></li>
                    <hr>
                    <li>Empresa: <b>{{item.Empresa}}</b></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Tipo de solicitud: <b>{{item.TipoSolicitud}}</b></li>
                    <hr>
                    <li>Reembolsable: <b>{{item.Reembolsable == true ? 'Sí' : 'No'}}</b></li>
                    <hr>
                    <li>Cliente: <b>{{item.Cliente}}</b></li>
                    <hr>
                    <li>Job: <b>{{item.Job}}</b></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Fecha de Solicitud: <b>{{item.Created | date: 'dd/MM/yyyy'}}</b></li>
                    <hr>
                    <li>Fecha de aprobación: <b>{{item.FechaAprobacion | date: 'dd/MM/yyyy'}}</b></li>
                    <hr>
                    <li>Fecha de finalización: <b>{{item.FechaFinalizacion | date: 'dd/MM/yyyy'}}</b></li>
                    <hr>
                </ul>
            </div>
            <hr>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Unidades de negocio
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="detalleUnidades">
            <ng-container matColumnDef="Director">
                <th mat-header-cell *matHeaderCellDef> Director </th>
                <td mat-cell *matCellDef="let element"> {{element.Director.Title}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Ceco">
                <th mat-header-cell *matHeaderCellDef> Ceco </th>
                <td mat-cell *matCellDef="let element"> {{element.Ceco}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Porcentaje">
                <th mat-header-cell *matHeaderCellDef> Porcentaje </th>
                <td mat-cell *matCellDef="let element"> {{element.Porcentaje}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedUnidades"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedUnidades;"></tr>

        </table>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Detalle de anticipo
        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <table mat-table [dataSource]="detalleAnticipo">

            <ng-container matColumnDef="Tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo de gasto </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoGasto}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Cantidad">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
            </ng-container>

            <ng-container matColumnDef="Moneda">
                <th mat-header-cell *matHeaderCellDef> Moneda </th>
                <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
            </ng-container>

            <ng-container matColumnDef="ValorTotal">
                <th mat-header-cell *matHeaderCellDef> Valor total </th>
                <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsDetalle"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsDetalle;"></tr>
          </table>
        <br>
        <hr>
        <div class="row">
            <div class="col">
                <mat-lablel>Total Pesos</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="totalPesos" currencyMask readonly class="total">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-lablel>Total Dólares</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput  [(ngModel)]="totalDolares" currencyMask readonly
                        class="total">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-lablel>Total Euros</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="totalEuros" currencyMask readonly class="total">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card" *ngIf="detalle.data.length > 0">
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="detalle">

            <ng-container matColumnDef="Tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo de gasto </th>
              <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Beneficiario">
              <th mat-header-cell *matHeaderCellDef> Beneficiario </th>
              <td mat-cell *matCellDef="let element"> {{element.beneficiario}} </td>
            </ng-container>

            <ng-container matColumnDef="Moneda">
                <th mat-header-cell *matHeaderCellDef> Moneda </th>
                <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
            </ng-container>

            <ng-container matColumnDef="ValorTotal">
                <th mat-header-cell *matHeaderCellDef> Valor total </th>
                <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="Origen">
                <th mat-header-cell *matHeaderCellDef> Origen </th>
                <td mat-cell *matCellDef="let element"> {{element.origen}} </td>
            </ng-container>

            <ng-container matColumnDef="Destino">
                <th mat-header-cell *matHeaderCellDef> Destino </th>
                <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
            </ng-container>

            <ng-container matColumnDef="FechaInicio">
                <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.fechaInicio === 'N/A'">
                        N/A
                    </ng-container>
                    <ng-container *ngIf="element.fechaInicio !== 'N/A'">
                        {{element.fechaInicio | date: 'dd/MM/yyyy'}}
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="FechaFin">
                <th mat-header-cell *matHeaderCellDef> Fecha de finalización </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.fechaInicio === 'N/A'">
                        N/A
                    </ng-container>
                    <ng-container *ngIf="element.fechaFin !== 'N/A'">
                        {{element.fechaFin | date: 'dd/MM/yyyy'}}
                    </ng-container>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsLegalizacion"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsLegalizacion;"></tr>
          </table>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card" *ngIf="detalle.data.length > 0">
    <mat-card-header>
        <mat-card-title>
            Resumen de cuentas
        </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <!-- <div class="row">
            <div class="col">
                <mat-lablel>Total anticipo Pesos</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="totalPesos" currencyMask readonly class="total">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-lablel>Total anticipo Dólares</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput  [(ngModel)]="totalDolares" currencyMask readonly
                        class="total">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-lablel>Total anticipo Euros</mat-lablel>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="totalEuros" currencyMask readonly class="total">
                </mat-form-field>
            </div>
        </div> -->

        <table mat-table [dataSource]="resumen" class="resumen">
            <ng-container matColumnDef="Detalle">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Pesos">
                <th mat-header-cell *matHeaderCellDef> Pesos </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'rojo': element.peso < 0}"> {{element.peso | currency}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Dolares">
                <th mat-header-cell *matHeaderCellDef> Dólares </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'rojo': element.dolar < 0}"> {{element.dolar | currency}} </td>
              </ng-container>

              <ng-container matColumnDef="Euros">
                <th mat-header-cell *matHeaderCellDef> Euros </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'rojo': element.euro < 0}"> {{element.euro | currency}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedResumen1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedResumen1;"></tr>

        </table>

        <!-- <table mat-table [dataSource]="resumen" class="resumen">
            <ng-container matColumnDef="Detalle">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
              </ng-container>

              <ng-container matColumnDef="Concepto">
                <th mat-header-cell *matHeaderCellDef> Concepto </th>
                <td mat-cell *matCellDef="let element"> {{element.concepto}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Pesos">
                <th mat-header-cell *matHeaderCellDef> Pesos </th>
                <td mat-cell *matCellDef="let element"> {{element.Peso | currency}} </td>
              </ng-container>
            
              <ng-container matColumnDef="Dolares">
                <th mat-header-cell *matHeaderCellDef> Dólares </th>
                <td mat-cell *matCellDef="let element"> {{element.Dolar | currency}} </td>
              </ng-container>

              <ng-container matColumnDef="Euros">
                <th mat-header-cell *matHeaderCellDef> Euros </th>
                <td mat-cell *matCellDef="let element"> {{element.Euro | currency}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedResumen"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedResumen;"></tr>

        </table> -->
        <br>
        <div class="row">
            <div class="col">
                <mat-label>Saldo en pesos a favor de</mat-label>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="saldoPesosAfavor" readonly>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Saldo en dólares a favor de</mat-label>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="saldoDolarAfavor" readonly>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-label>Saldo en euros a favor de</mat-label>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="saldoEurosAfavor" readonly>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>
            Observaciones
        </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <textarea matInput rows="2" placeholder="Observaciones" [(ngModel)]="Observaciones" [readonly]="!mostrarElementos || mostrarBtnConfirmar"></textarea>
                </mat-form-field>
            </div>
            <div class="col" *ngIf="urlFacturas">
                <a href="{{urlFacturas}}" target="_blank"><button type="button" class="btn btn-default">Ver facturas</button></a>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="shipping-card" *ngIf="mostrarMovimiento">
    <mat-card-header>
        <mat-card-title>
            Registrar movimiento de dinero
        </mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-label style="vertical-align: middle; display: inline-block">Forma de pago</mat-label>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="FormaPago">
                    <mat-radio-button value="Transferencia">Transferencia</mat-radio-button>
                    <mat-radio-button value="Efectivo">Efectivo</mat-radio-button>
                    <mat-radio-button value="Cheque">Cheque</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Entidad" [(ngModel)]="Entidad">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Número de transacción" [(ngModel)]="numeroTransaccion">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Solicitante" [(ngModel)]="solicitante" readonly>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <mat-label>Fecha de entrega</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaEntrega">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- <span *ngIf="form.controls.fechaFinalizacion.value && form.controls.fechaFinalizacion.value !== ' '" style="color: red" class="alerta">
                    Se deben legalizar los gastos de anticipos máximo 5 días hábilies después de esta fecha
                </span> -->
            </div>
            <div class="col">
                <label for="">Cargar soporte</label>
                <input type="file" (change)="AdjuntarSoporte($event)">
                <span *ngIf="alertarExtension"  style="color: red" class="alerta">
                   formatos permitidos: jpg, pdf, eml, doc, docx
                </span>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <textarea matInput rows="1" placeholder="Comentarios" [(ngModel)]="Comentarios"></textarea>
                </mat-form-field>
            </div>
        </div>
        <hr>
        <!-- <div class="row">
            <div class="col-6 offset-3">
                <button type="button" class="btn btn-success btn-block" (click)="AgregarDetalle()">Guardar</button>
            </div>
        </div> -->
    </mat-card-content>
</mat-card>
<div class="row" *ngIf="mostrarElementos">
    <div class="col-6">
        <button type="button" class="btn btn-success btn-block" (click)="Aprobar()">Aprobar</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-danger btn-block" (click)="Rechazar()">Rechazar</button>
    </div>
</div>
<div class="row" *ngIf="mostrarBtnConfirmar">
    <div class="col-6 offset-3">
        <button type="button" class="btn btn-success btn-block" (click)="Aprobar()">Confirmar y cerrar</button>
    </div>
</div>
